/* src/index.css */

/*
 * This file contains basic global styles and resets
 * that apply to the entire application.
 */

body {
  margin: 0; /* Remove default body margin */
  /* Using a generic font stack here. The --font-family-base in variables.css
     will likely override this if a specific font like 'Inter' is imported. */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased; /* Enable font smoothing for better appearance on macOS */
  -moz-osx-font-smoothing: grayscale; /* Enable grayscale font smoothing on macOS */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Font for code snippets */
}